*.mmdb
*.local
*.log
*.orig
.#*
.dccache
.DS_Store
.cache
.eslintcache


# local env files
.env.local
.env.development.local
.env.production*
.env.test.local
.envrc

.idea
.next
.tool-versions
.vim
.vercel
.vscode
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
build
BUILD-INFO
DEPLOY-INFO
coverage
node_modules
report.json
reports
temp
*.tsbuildinfo
